<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="content-row-total">
  <div class="row">
    <div class="col-xl-3 col-sm-6">
      <div class="card bg-pink">
        <div class="card-body widget-style-2">
          <div class="text-white media">
            <div class="media-body align-self-center">
              <h2 class="my-0 text-white"><span data-plugin="counterup">50</span></h2>
              <p class="mb-0">Sản phẩm</p>
            </div>
            <i class="ion-md-eye"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card bg-purple">
        <div class="card-body widget-style-2">
          <div class="text-white media">
            <div class="media-body align-self-center">
              <h2 class="my-0 text-white"><span data-plugin="counterup">12056</span></h2>
              <p class="mb-0">Giảm giá</p>
            </div>
            <i class="ion-md-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card bg-info">
        <div class="card-body widget-style-2">
          <div class="text-white media">
            <div class="media-body align-self-center">
              <h2 class="my-0 text-white"><span data-plugin="counterup">1268</span></h2>
              <p class="mb-0">Đơn hàng</p>
            </div>
            <i class="ion-ios-pricetag"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
      <div class="card bg-primary">
        <div class="card-body widget-style-2">
          <div class="text-white media">
            <div class="media-body align-self-center">
              <h2 class="my-0 text-white"><span data-plugin="counterup">145</span></h2>
              <p class="mb-0">Khách hàng</p>
            </div>
            <i class="mdi mdi-comment-multiple"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>