<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="logo">
  <div class="logo-box">
    <a href="/" class="logo text-center logo-dark">
                        <span class="logo-lg">
                            <img src="/assets/images/logo-dark.png" alt="" height="18">
                          <!-- <span class="logo-lg-text-dark">Velonic</span> -->
                        </span>
      <span class="logo-sm">
                            <!-- <span class="logo-lg-text-dark">V</span> -->
                            <img src="/assets/images/logo-sm.png" alt="" height="22">
                        </span>
    </a>

    <a href="/" class="logo text-center logo-light">
                        <span class="logo-lg">
                            <img src="/assets/images/logo-light.png" alt="" height="18">
                          <!-- <span class="logo-lg-text-dark">Velonic</span> -->
                        </span>
      <span class="logo-sm">
                            <!-- <span class="logo-lg-text-dark">V</span> -->
                            <img src="/assets/images/logo-sm.png" alt="" height="22">
                        </span>
    </a>
  </div>
</th:block>