<html xmlns:th="http://www.thymeleaf.org" lang="en">


<th:block th:fragment="script-vendor-js">
    <script src="/assets/js/vendor.min.js"></script>
</th:block>

<th:block th:fragment="script-utils">
    <script src="/assets/libs/moment/moment.min.js"></script>
    <script src="/assets/libs/jquery-scrollto/jquery.scrollTo.min.js"></script>
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
</th:block>

<th:block th:fragment="script-chat-app">
    <script src="/assets/js/pages/jquery.chat.js"></script>
</th:block>

<th:block th:fragment="script-todo-app">
    <script src="/assets/js/pages/jquery.todo.js"></script>
</th:block>

<th:block th:fragment="script-dashboard-js">
    <script src="/assets/js/pages/dashboard.init.js"></script>
</th:block>

<th:block th:fragment="script-app-js">
    <script src="/assets/js/app.min.js"></script>
</th:block>

<th:block th:fragment="script-datatable-js">
    <script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
</th:block>

<th:block th:fragment="script-buttons-examples">
    <script src="/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/assets/libs/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/assets/libs/jszip/jszip.min.js"></script>
    <script src="/assets/libs/pdfmake/pdfmake.min.js"></script>
    <script src="/assets/libs/pdfmake/vfs_fonts.js"></script>
    <script src="/assets/libs/datatables/buttons.html5.min.js"></script>
    <script src="/assets/libs/datatables/buttons.print.min.js"></script>
</th:block>

<th:block th:fragment="script-responsive-examples">
    <script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>

    <script src="/assets/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="/assets/libs/datatables/dataTables.select.min.js"></script>
</th:block>

<th:block th:fragment="script-datatables-init">
    <script src="/assets/js/pages/datatables.init.js"></script>
</th:block>

<th:block th:fragment="script-plugin-js">
    <script src="/assets/libs/parsleyjs/parsley.min.js"></script>
</th:block>

<th:block th:fragment="script-validation-init-js">
    <script src="/assets/js/pages/form-validation.init.js"></script>
</th:block>

<th:block th:fragment="script-izitoast">
    <script src="/assets/libs/izitoast/dist/js/iziToast.min.js"></script>
</th:block>

<th:block th:fragment="script-sweetalert2">
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
</th:block>

<th:block th:fragment="script-jquery">
    <script src="/assets/libs/jquery/v3.6.1/jquery-3.6.1.min.js"></script>
</th:block>

<th:block th:fragment="script-jquery-validate">
    <script src="/assets/libs/jquery-validate/1.19.3/jquery.validate-1.19.3.min.js"></script>
</th:block>

<th:block th:fragment="script-app-utils">
    <script src="/assets/js/app/App.js"></script>
</th:block>

<th:block th:fragment="script-boostrap">
    <script src="/assets/libs/bootstrap/v5.2/js/bootstrap.bundle.min.js"></script>
</th:block>

<th:block th:fragment="script-fontawesome">
    <script src="/assets/libs/fontawesome/v6.2.0/js/all.min.js"></script>
</th:block>